.index_container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.index_text_yjfx{
    position: relative;
    height: 80px;
    font-family: "Adobe 黑体 Std R";
    font-size: 2.5em;
    text-align: center;
    top:20px;
}

.index_container .card{
    margin-top: 100px;
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #dff9fb;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: .3s ease-in-out;
}

.index_container .card:hover{
    height: 300px;
}

.index_container .card .imgBx{
    position: relative;
    width: 260px;
    height: 230px;
    top: -60px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    overflow: hidden;
}

.index_container .card .imgBx img{
    align-items: center;
    width: 300px;
    border-radius: 4px;
    transition: .3s ease-in-out;
}
.index_container .card .imgBx img:hover{
    width: 250px;
}
.index_container .card .content{
    position: relative;
    margin-top: -120px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
}

.index_container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: .3s;
}