body{
    margin:0;
    padding:0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.top{
    margin-top: 20px;
    margin-left: 100px;
}
.nav{
    height: 80px;
}
.nav_go{
    display: inline-block;
    float: right;
    height: 80px;
}
.nav_go a{
    display: inline-block;
    font-family: "Times New Roman";
    position: relative;
    height: 100%;
    top:20px;
    font-size: 2em;
    color: salmon;
    text-decoration: none;
    text-align: center;
}
.nav_go a:hover{
    color: #111111;
}
#go_gallery{
    width: 100px;
}
#go_publlications{
    width: 170px;
}
#go_team{
    width: 90px;
}
#go_home{
    width: 90px;
}
/*.bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgrey;
    color: #dcdde1;
    height: 100px;
}*/

