.daohang{
    position: fixed;
    right: 50px;
    bottom: 150px;
}
.daohang li{
    list-style-type: none;
}
.daohang a{
    font-size: 30px;
    color: #111111;
    text-decoration: none;
}
.daohang a:hover{
    color: #1e90ff;
}
.go{
    height: 1px;
    visibility: hidden;
}
.year{
    font-family: "BankGothic Lt BT";
    position: relative;
    left:100px;
    font-size: 4em;
}
.content{
    position: relative;
    left:120px;
    width:70%;
    margin-bottom: 20px;
}
li p{
    font-size: 25px;
    font-family: 'Jost', sans-serif;
}
.content a{
    color: salmon;
    font-size: 20px;
    position: relative;
    top:-10px;
}