.box{
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sum_text{
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 4em;
    padding: 15px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item img{
    height: 300px;
}
.text{
    max-width: 900px;
}
.text p{
    font-size: 2em;
}
.line{
    height: 5px;
    background-color: salmon;
}
.doi{
    font-size: 20px;
    height: 40px;
}