.intro_team{
    height: 100px;
    width: 100%;
}
.team_text{
    font-family: "BankGothic Lt BT";
    width: 100%;
    font-size: 4em;
    text-align: center;
    overflow: hidden;
}
.sum_text{
    position: relative;
    left: 100px;
    height: 100px;
    font-family:'Jost', sans-serif;
    font-size: 2.5em;
    color: #e84393;
    font-style:italic;
}
.leader_box{
    height: 600px;
    position: relative;
    top:-30px;
    display: flex;
    justify-content:center;
}
.leader_box img{
    height: 450px;
    border-radius: 20px;
}
.leader_box img:hover{
    height: 480px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
.leader_content{
    width: 400px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.leader_content_text{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.leader_name a{
    color: #111111;
    font-size: 40px;
    font-family:'Jost', sans-serif;
    text-decoration: none;
}
.leader_email{
    font-size: 30px;
    font-family: "Adobe Hebrew"
}
.leader_title{
    font-size: 25px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item{
    width: 400px;
    height: 550px;
}
.item_student{
    width: 500px;
    height: 520px;
}
.box{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box img{
    height: 400px;
    border-radius: 20px;
}
.box img:hover{
    height: 420px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
.name{
    height: 50px;
    font-family:'Jost', sans-serif;
    font-size: 30px;
}
.name a{
    position: relative;
    top:5px;
    font-family:'Jost', sans-serif;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    color: #111111;
}
.year{
    font-size: 22px;
    height: 30px;
}
.title{
    font-size: 22px;
    height: 30px;
}
.email{
    font-size: 25px;
    height: 30px;
    font-family: "Adobe Hebrew";
}
.box_graduated{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item_graduated{
    height: 420px;
    display: flex;
    justify-content: normal;
    align-items: center;
}
.content_left{
    flex-shrink: 0;
    width: 500px;
    text-align: center;
}
.content_right{
    flex-shrink: 0;
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: center;
}
.content_left img{
    width: 250px;
    border-radius: 20px;
}
.content_left img:hover {
    width: 270px;
    transition: 0.3s ease-in-out;

}
.desription p{
}
.desription{
    position: relative;
    left:40px;
    font-size: 20px;
    width: 400px;
}
.item_v{
    height: 300px;
    display: flex;
    justify-content: normal;
    align-items: center;
}
.content_left_v{
    flex-shrink: 0;
    width: 500px;
    text-align: center;
}
.content_right_v{
    flex-shrink: 0;
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: center;
}
.content_left_v img{
    height: 280px;
    border-radius: 20px;
}
.text_v{
    font-size: 20px;
}
.kong1{
    height: 20px;
}